openapi: 3.2.0
info:
  title: LifeGraph Edge Definition Metadata APIs API
  description: LifeGraph API descriptions
  license:
    name: BurstIQ, Inc.
    url: https://www.burstiq.com
  version: 2.42.0
servers:
- url: https://api.burstiq.com
  description: Generated server url
tags:
- name: Edge Definition Metadata APIs
  description: Edge Definitions are required for the system to know what edges are allowed between live node data
paths:
  /api/metadata/edge/{id}:
    get:
      tags:
      - Edge Definition Metadata APIs
      description: 'Allowed user roles:


        sdzAdmin


        sdzReadOnly


        sdzUser


        get an edge. based on id'
      operationId: getEdgeById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EdgeDef'
      summary: Get edge by id
      x-summary-source: derived
    put:
      tags:
      - Edge Definition Metadata APIs
      description: 'Allowed user roles:


        sdzAdmin


        put (update) the edges in the secure data zone'
      operationId: putUpdateEdge
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEdgeDefRequest'
        required: true
      responses:
        '200':
          description: OK
      summary: Put update edge
      x-summary-source: derived
    delete:
      tags:
      - Edge Definition Metadata APIs
      description: 'Allowed user roles:


        sdzAdmin


        delete an edge definition in the secure data zone, based on id'
      operationId: deleteEdgeById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
      summary: Delete edge by id
      x-summary-source: derived
  /api/metadata/edge:
    get:
      tags:
      - Edge Definition Metadata APIs
      description: 'Allowed user roles:


        sdzAdmin


        sdzReadOnly


        sdzUser


        query edges from the secure data zone'
      operationId: getQueryEdges
      parameters:
      - name: name
        in: query
        required: false
        schema:
          type: string
      - name: fromDictionary
        in: query
        required: false
        schema:
          type: string
      - name: toDictionary
        in: query
        required: false
        schema:
          type: string
      - name: orderBy
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EdgeDef'
      summary: Get query edges
      x-summary-source: derived
    post:
      tags:
      - Edge Definition Metadata APIs
      description: 'Allowed user roles:


        sdzAdmin


        post (insert) the edges into the secure data zone'
      operationId: postCreateEdge
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EdgeDef'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EdgeDef'
      summary: Post create edge
      x-summary-source: derived
  /api/metadata/edge/{id}/history:
    get:
      tags:
      - Edge Definition Metadata APIs
      description: 'Allowed user roles:


        sdzAdmin


        sdzReadOnly


        sdzUser


        gets the history of an edge definition'
      operationId: getHistory_5
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EdgeDef'
      summary: Get history 5
      x-summary-source: derived
  /api/metadata/edge/{from}/{to}/{name}:
    get:
      tags:
      - Edge Definition Metadata APIs
      description: 'Allowed user roles:


        sdzAdmin


        sdzReadOnly


        sdzUser


        get an edge. based on from dictionary, to dictionary and label, from the secure data zone'
      operationId: getEdge
      parameters:
      - name: from
        in: path
        required: true
        schema:
          type: string
      - name: to
        in: path
        required: true
        schema:
          type: string
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EdgeDef'
      summary: Get edge
      x-summary-source: derived
  /api/metadata/edge/search:
    get:
      tags:
      - Edge Definition Metadata APIs
      description: 'Allowed user roles:


        sdzAdmin


        sdzReadOnly


        sdzUser


        search for terms'
      operationId: getSearch_5
      parameters:
      - name: terms
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EdgeDef'
                uniqueItems: true
      summary: Get search 5
      x-summary-source: derived
components:
  schemas:
    EdgeColumn:
      type: object
      properties:
        fromCol:
          type: string
          minLength: 1
        toCol:
          type: string
          minLength: 1
      required:
      - fromCol
      - toCol
    UpdateEdgeDefRequest:
      type: object
      properties:
        condition:
          type: array
          items:
            $ref: '#/components/schemas/EdgeColumn'
    EdgeDef:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
        fromDictionary:
          type: string
          minLength: 1
        toDictionary:
          type: string
          minLength: 1
        condition:
          type: array
          items:
            $ref: '#/components/schemas/EdgeColumn'
          minItems: 1
      required:
      - condition
      - fromDictionary
      - id
      - name
      - toDictionary
