openapi: 3.2.0
info:
  title: LifeGraph OData v4 APIs API
  description: LifeGraph API descriptions
  license:
    name: BurstIQ, Inc.
    url: https://www.burstiq.com
  version: 2.42.0
servers:
- url: https://api.burstiq.com
  description: Generated server url
tags:
- name: OData v4 APIs
  description: 'Reference OData v4 documentation for usage: https://www.odata.org/getting-started/'
paths:
  /api/odata/v4/full:
    get:
      tags:
      - OData v4 APIs
      description: 'Allowed user roles:


        sdzReadOnly


        sdzUser


        OData v4 API'
      operationId: getProcess
      responses:
        '200':
          description: OK
      summary: Get process
      x-summary-source: derived
  /api/odata/v4/full/*:
    get:
      tags:
      - OData v4 APIs
      description: 'Allowed user roles:


        sdzReadOnly


        sdzUser


        OData v4 API'
      operationId: getProcess_1
      responses:
        '200':
          description: OK
      summary: Get process 1
      x-summary-source: derived
  /api/odata/v4/basic/*:
    get:
      tags:
      - OData v4 APIs
      description: 'Allowed user roles:


        sdzReadOnly


        sdzUser


        OData v4 API for non-complex data'
      operationId: getProcessBasic
      responses:
        '200':
          description: OK
      summary: Get process basic
      x-summary-source: derived
  /api/odata/v4/basic:
    get:
      tags:
      - OData v4 APIs
      description: 'Allowed user roles:


        sdzReadOnly


        sdzUser


        OData v4 API for non-complex data'
      operationId: getProcessBasic_1
      responses:
        '200':
          description: OK
      summary: Get process basic 1
      x-summary-source: derived
