openapi: 3.2.0
info:
  title: LifeGraph Data Pipeline Rule APIs API
  description: LifeGraph API descriptions
  license:
    name: BurstIQ, Inc.
    url: https://www.burstiq.com
  version: 2.42.0
servers:
- url: https://api.burstiq.com
  description: Generated server url
tags:
- name: Data Pipeline Rule APIs
  description: DataPipeline Rule are created individually then later added to rule sets
paths:
  /api/metadata/datapipeline/rule/{id}:
    get:
      tags:
      - Data Pipeline Rule APIs
      description: 'Allowed user roles:


        sdzAdmin


        sdzReadOnly


        sdzUser


        Get Rule by id'
      operationId: getRuleById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Rule'
      summary: Get rule by id
      x-summary-source: derived
    put:
      tags:
      - Data Pipeline Rule APIs
      description: 'Allowed user roles:


        sdzAdmin


        Update a Rule'
      operationId: putRule
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rule'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Rule'
      summary: Put rule
      x-summary-source: derived
    delete:
      tags:
      - Data Pipeline Rule APIs
      description: 'Allowed user roles:


        sdzAdmin


        Delete Rule by id'
      operationId: deleteRuleById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
      summary: Delete rule by id
      x-summary-source: derived
  /api/metadata/datapipeline/rule:
    get:
      tags:
      - Data Pipeline Rule APIs
      description: 'Allowed user roles:


        sdzAdmin


        sdzReadOnly


        sdzUser


        Get Rules by query'
      operationId: getQueryRules
      parameters:
      - name: description
        in: query
        required: false
        schema:
          type: string
      - name: name
        in: query
        required: false
        schema:
          type: string
      - name: orderBy
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Rule'
      summary: Get query rules
      x-summary-source: derived
    post:
      tags:
      - Data Pipeline Rule APIs
      description: 'Allowed user roles:


        sdzAdmin


        Create a new Rule'
      operationId: postRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Rule'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Rule'
      summary: Post rule
      x-summary-source: derived
  /api/metadata/datapipeline/rule/{id}/history:
    get:
      tags:
      - Data Pipeline Rule APIs
      description: 'Allowed user roles:


        sdzAdmin


        sdzReadOnly


        sdzUser


        gets the history of a rule'
      operationId: getHistory_11
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Rule'
      summary: Get history 11
      x-summary-source: derived
components:
  schemas:
    Rule:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
        description:
          type: string
        importSet:
          type: array
          items:
            type: string
          minItems: 1
          uniqueItems: true
        whenBase64:
          type: string
          minLength: 1
        thenBase64:
          type: string
          minLength: 1
        globalSet:
          type: array
          items:
            type: string
          uniqueItems: true
      required:
      - id
      - importSet
      - name
      - thenBase64
      - whenBase64
