openapi: 3.2.0
info:
  title: LifeGraph System Wallet APIs API
  description: LifeGraph API descriptions
  license:
    name: BurstIQ, Inc.
    url: https://www.burstiq.com
  version: 2.42.0
servers:
- url: https://api.burstiq.com
  description: Generated server url
tags:
- name: System Wallet APIs
  description: System wallets are used for non-humans to perform functions in the platform; ie custodian, etc
paths:
  /api/metadata/system/wallet/{id}:
    get:
      tags:
      - System Wallet APIs
      description: 'Allowed user roles:


        sdzAdmin


        sdzReadOnly


        sdzUser


        get the system''s wallet in the secure data zone'
      operationId: getSystemWalletById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SystemWalletResponse'
      summary: Get system wallet by id
      x-summary-source: derived
    put:
      tags:
      - System Wallet APIs
      description: 'Allowed user roles:


        sdzAdmin


        sdzGovernance


        put (update) the system''s wallet into the secure data zone'
      operationId: putUpdateSystemWallet
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SystemWalletUpdateRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SystemWalletResponse'
      summary: Put update system wallet
      x-summary-source: derived
    delete:
      tags:
      - System Wallet APIs
      description: 'Allowed user roles:


        sdzAdmin


        sdzGovernance


        delete the system''s wallet in the secure data zone'
      operationId: deleteSystemWallet
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
      summary: Delete system wallet
      x-summary-source: derived
  /api/metadata/system/wallet:
    get:
      tags:
      - System Wallet APIs
      description: 'Allowed user roles:


        sdzAdmin


        sdzReadOnly


        sdzUser


        query system wallets from the secure data zone'
      operationId: getQuerySystemWallets
      parameters:
      - name: description
        in: query
        required: false
        schema:
          type: string
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - CUSTODIAN_OWNER
          - CUSTODIAN_LIMITED_OWNER
          - TENANT_OWNER
          - TENANT_LIMITED_OWNER
      - name: orderBy
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SystemWalletResponse'
      summary: Get query system wallets
      x-summary-source: derived
    post:
      tags:
      - System Wallet APIs
      description: 'Allowed user roles:


        sdzAdmin


        sdzGovernance


        create a system''s wallet into the secure data zone'
      operationId: postCreateSystemWallet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SystemWalletCreateRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SystemWalletResponse'
      summary: Post create system wallet
      x-summary-source: derived
  /api/metadata/system/wallet/{id}/history:
    get:
      tags:
      - System Wallet APIs
      description: 'Allowed user roles:


        sdzAdmin


        sdzReadOnly


        sdzUser


        gets the history of a systemWallet'
      operationId: getHistory_3
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SystemWalletResponse'
      summary: Get history 3
      x-summary-source: derived
  /api/metadata/system/wallet/self:
    get:
      tags:
      - System Wallet APIs
      description: 'Allowed user roles:


        sdzAdmin


        sdzReadOnly


        sdzUser


        query system wallets from the secure data zone the the user is a member of'
      operationId: getUserMemberSystemWallets
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SystemWalletResponse'
      summary: Get user member system wallets
      x-summary-source: derived
  /api/metadata/system/wallet/search:
    get:
      tags:
      - System Wallet APIs
      description: 'Allowed user roles:


        sdzAdmin


        sdzReadOnly


        sdzUser


        search for terms'
      operationId: getSearch_3
      parameters:
      - name: terms
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SystemWallet'
                uniqueItems: true
      summary: Get search 3
      x-summary-source: derived
components:
  schemas:
    SystemWalletResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        description:
          type: string
          minLength: 1
        type:
          type: string
          enum:
          - CUSTODIAN_OWNER
          - CUSTODIAN_LIMITED_OWNER
          - TENANT_OWNER
          - TENANT_LIMITED_OWNER
        accessControlUserGroup:
          type: string
          format: uuid
        writeUserGroup:
          type: string
          format: uuid
        hash:
          type: string
        author:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
      required:
      - accessControlUserGroup
      - description
      - id
      - type
    SystemWalletCreateRequest:
      type: object
      properties:
        description:
          type: string
          minLength: 1
        type:
          type: string
          enum:
          - CUSTODIAN_OWNER
          - CUSTODIAN_LIMITED_OWNER
          - TENANT_OWNER
          - TENANT_LIMITED_OWNER
        writeUserGroup:
          type: string
          format: uuid
        accessControlUserGroup:
          type: string
          format: uuid
      required:
      - accessControlUserGroup
      - description
      - type
    SystemWalletUpdateRequest:
      type: object
      properties:
        description:
          type: string
        type:
          type: string
          enum:
          - CUSTODIAN_OWNER
          - CUSTODIAN_LIMITED_OWNER
          - TENANT_OWNER
          - TENANT_LIMITED_OWNER
        writeUserGroup:
          type: string
          format: uuid
        accessControlUserGroup:
          type: string
          format: uuid
      required:
      - type
    SystemWallet:
      type: object
      properties:
        id:
          type: string
          format: uuid
        privateKey:
          type: string
          minLength: 1
        publicKey:
          type: string
          minLength: 1
        type:
          type: string
          enum:
          - CUSTODIAN_OWNER
          - CUSTODIAN_LIMITED_OWNER
          - TENANT_OWNER
          - TENANT_LIMITED_OWNER
        description:
          type: string
          minLength: 1
        writeUserGroup:
          type: string
          format: uuid
        accessControlUserGroup:
          type: string
          format: uuid
      required:
      - accessControlUserGroup
      - description
      - id
      - privateKey
      - publicKey
      - type
