openapi: 3.1.0
info:
  title: LifeGraph APIs BlastAI APIs Data Pipeline Field Mapping Step APIs API
  description: LifeGraph API descriptions
  license:
    name: BurstIQ, Inc.
    url: https://www.burstiq.com
  version: 2.42.0
servers:
- url: https://api.burstiq.com
  description: Generated server url
tags:
- name: Data Pipeline Field Mapping Step APIs
  description: Field Mapping Step is a step used in Data Pipelines and is used to map fields
paths:
  /api/metadata/datapipeline/steps/fieldmapping/{id}:
    get:
      tags:
      - Data Pipeline Field Mapping Step APIs
      description: <b>Allowed user roles:</b><br/><ul><li>sdzAdmin</li><li>sdzReadOnly</li><li>sdzUser</li></ul><br/><br/>Get FieldMappingSteps by id
      operationId: getFieldMappingStepById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FieldMappingStep'
    put:
      tags:
      - Data Pipeline Field Mapping Step APIs
      description: <b>Allowed user roles:</b><br/><ul><li>sdzAdmin</li></ul><br/><br/>Update a new FieldMappingStep
      operationId: putFieldMappingStep
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldMappingStep'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FieldMappingStep'
    delete:
      tags:
      - Data Pipeline Field Mapping Step APIs
      description: <b>Allowed user roles:</b><br/><ul><li>sdzAdmin</li></ul><br/><br/>Delete FieldMappingSteps by id
      operationId: deleteFieldMappingStepById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
  /api/metadata/datapipeline/steps/fieldmapping:
    get:
      tags:
      - Data Pipeline Field Mapping Step APIs
      description: <b>Allowed user roles:</b><br/><ul><li>sdzAdmin</li><li>sdzReadOnly</li><li>sdzUser</li></ul><br/><br/>Get FieldMappingSteps by query
      operationId: queryFieldMappingSteps
      parameters:
      - name: description
        in: query
        required: false
        schema:
          type: string
      - name: name
        in: query
        required: false
        schema:
          type: string
      - name: orderBy
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldMappingStep'
    post:
      tags:
      - Data Pipeline Field Mapping Step APIs
      description: <b>Allowed user roles:</b><br/><ul><li>sdzAdmin</li></ul><br/><br/>Create a new FieldMappingStep
      operationId: postFieldMappingStep
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FieldMappingStep'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FieldMappingStep'
  /api/metadata/datapipeline/steps/fieldmapping/{id}/trial-run:
    post:
      tags:
      - Data Pipeline Field Mapping Step APIs
      description: <b>Allowed user roles:</b><br/><ul><li>sdzAdmin</li><li>sdzReadOnly</li><li>sdzUser</li></ul><br/><br/>using step id, looks up the step and executes a single step against a single data record and returns what the result would be
      operationId: postFieldMappingStepTrialRun
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPipelineInput'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataPipelineInput'
  /api/metadata/datapipeline/steps/fieldmapping/{id}/history:
    get:
      tags:
      - Data Pipeline Field Mapping Step APIs
      description: <b>Allowed user roles:</b><br/><ul><li>sdzAdmin</li><li>sdzReadOnly</li><li>sdzUser</li></ul><br/><br/>gets the history of a fieldMappingStep
      operationId: getHistory_10
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FieldMappingStep'
components:
  schemas:
    FieldMappingStep:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
        description:
          type: string
        map:
          type: object
          additionalProperties:
            type: string
          minProperties: 1
      required:
      - map
      - name
    DataPipelineInput:
      type: object
      properties:
        data:
          type: object
        metadata:
          type: object
      required:
      - data
