openapi: 3.1.0
info:
  title: LifeGraph APIs BlastAI APIs Dictionary Metadata APIs API
  description: LifeGraph API descriptions
  license:
    name: BurstIQ, Inc.
    url: https://www.burstiq.com
  version: 2.42.0
servers:
- url: https://api.burstiq.com
  description: Generated server url
tags:
- name: Dictionary Metadata APIs
  description: Dictionaries are schemas essentially, they describe the data allowed within a Node of a LifeGraph (can be thought of as a record too); a Node in the LG is akin to a Smart Data Object
paths:
  /api/metadata/dictionary:
    get:
      tags:
      - Dictionary Metadata APIs
      description: <b>Allowed user roles:</b><br/><ul><li>sdzAdmin</li><li>sdzReadOnly</li><li>sdzUser</li></ul><br/><br/>query dictionaries from the secure data zone
      operationId: getQueryDicts
      parameters:
      - name: name
        in: query
        required: false
        schema:
          type: string
      - name: description
        in: query
        required: false
        schema:
          type: string
      - name: orderBy
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dictionary'
    put:
      tags:
      - Dictionary Metadata APIs
      description: '<b>Allowed user roles:</b><br/><ul><li>sdzAdmin</li></ul><br/><br/>DEPRECATED: Update with job instead. | Put (update) the dictionary in the secure data zone.<b><br/><br/>Deprecated since 16 JUL 24</b>'
      operationId: putDict
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dictionary'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Dictionary'
      deprecated: true
    post:
      tags:
      - Dictionary Metadata APIs
      description: '<b>Allowed user roles:</b><br/><ul><li>sdzAdmin</li></ul><br/><br/>DEPRECATED: Create with job instead. | Create a dictionary into the secure data zone.<b><br/><br/>Deprecated since 16 JUL 24</b>'
      operationId: postDict
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dictionary'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Dictionary'
      deprecated: true
  /api/metadata/dictionary/predict:
    post:
      tags:
      - Dictionary Metadata APIs
      description: <b>Allowed user roles:</b><br/><ul><li>sdzAdmin</li></ul><br/><br/>uses a data file to predict a dictionary definition (uses Nostradamus
      operationId: postPredictDict
      parameters:
      - name: sheetNum
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: sheetName
        in: query
        required: false
        schema:
          type: string
      - name: description
        in: query
        required: false
        schema:
          type: string
      - name: standardizeNames
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: primaryIndexCols
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: maxRowsToUse
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10000
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required:
              - file
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DictionaryMapping'
  /api/metadata/dictionary/{name}:
    get:
      tags:
      - Dictionary Metadata APIs
      description: <b>Allowed user roles:</b><br/><ul><li>sdzAdmin</li><li>sdzReadOnly</li><li>sdzUser</li></ul><br/><br/>gets a dictionary by name from the secure data zone
      operationId: getDict
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Dictionary'
    delete:
      tags:
      - Dictionary Metadata APIs
      description: '<b>Allowed user roles:</b><br/><ul><li>sdzAdmin</li></ul><br/><br/>DEPRECATED: Use drop job instead. | BEWARE: Deletes a dictionary by name from the secure data zone AND it data.<b><br/><br/>Deprecated since 16 JUL 24</b>'
      operationId: deleteDict
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      deprecated: true
  /api/metadata/dictionary/{name}/history:
    get:
      tags:
      - Dictionary Metadata APIs
      description: <b>Allowed user roles:</b><br/><ul><li>sdzAdmin</li><li>sdzReadOnly</li><li>sdzUser</li></ul><br/><br/>gets the history of a dictionary
      operationId: getHistory_6
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dictionary'
  /api/metadata/dictionary/search:
    get:
      tags:
      - Dictionary Metadata APIs
      description: <b>Allowed user roles:</b><br/><ul><li>sdzAdmin</li><li>sdzReadOnly</li><li>sdzUser</li></ul><br/><br/>search for terms
      operationId: getSearch_6
      parameters:
      - name: terms
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dictionary'
                uniqueItems: true
  /api/metadata/dictionary/referenceable/{type}:
    get:
      tags:
      - Dictionary Metadata APIs
      description: <b>Allowed user roles:</b><br/><ul><li>sdzAdmin</li><li>sdzReadOnly</li><li>sdzUser</li></ul><br/><br/>query dictionaries from the secure data zone that can be used in a reference datatype
      operationId: getQueryDictsReferencable
      parameters:
      - name: type
        in: path
        required: true
        schema:
          type: string
          enum:
          - STRING
          - INTEGER
          - LONG
          - STRING_REFERENCE
          - INTEGER_REFERENCE
          - LONG_REFERENCE
          - BOOLEAN
          - DECIMAL
          - DATE
          - DATETIME
          - ENUM
          - FINGERPRINT
          - CLOB
          - BLOB
          - OBJECT
          - STRING_ARRAY
          - INTEGER_ARRAY
          - LONG_ARRAY
          - STRING_REFERENCE_ARRAY
          - INTEGER_REFERENCE_ARRAY
          - LONG_REFERENCE_ARRAY
          - BOOLEAN_ARRAY
          - DECIMAL_ARRAY
          - DATE_ARRAY
          - DATETIME_ARRAY
          - ENUM_ARRAY
          - BLOB_ARRAY
          - OBJECT_ARRAY
          - VECTOR
          - INTEGER_REFERENCE
          - INTEGER_REFERENCE_ARRAY
          - LONG_REFERENCE
          - LONG_REFERENCE_ARRAY
          - STRING_REFERENCE
          - STRING_REFERENCE_ARRAY
      - name: name
        in: query
        required: false
        schema:
          type: string
      - name: description
        in: query
        required: false
        schema:
          type: string
      - name: orderBy
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dictionary'
components:
  schemas:
    AttributeDef:
      type: object
      properties:
        name:
          type: string
          minLength: 1
        description:
          type: string
        displayName:
          type: string
        datatype:
          type: string
          enum:
          - STRING
          - INTEGER
          - LONG
          - STRING_REFERENCE
          - INTEGER_REFERENCE
          - LONG_REFERENCE
          - BOOLEAN
          - DECIMAL
          - DATE
          - DATETIME
          - ENUM
          - FINGERPRINT
          - CLOB
          - BLOB
          - OBJECT
          - STRING_ARRAY
          - INTEGER_ARRAY
          - LONG_ARRAY
          - STRING_REFERENCE_ARRAY
          - INTEGER_REFERENCE_ARRAY
          - LONG_REFERENCE_ARRAY
          - BOOLEAN_ARRAY
          - DECIMAL_ARRAY
          - DATE_ARRAY
          - DATETIME_ARRAY
          - ENUM_ARRAY
          - BLOB_ARRAY
          - OBJECT_ARRAY
          - VECTOR
        required:
          type: boolean
        precision:
          type: integer
          format: int32
        defaultValue:
          type: string
        min:
          type: number
        max:
          type: number
        regex:
          type: string
        enumValues:
          type: array
          items:
            type: string
            minLength: 1
          uniqueItems: true
        fingerprintAttributes:
          type: array
          items:
            type: string
            minLength: 1
        vectorAttributes:
          type: array
          items:
            type: string
            minLength: 1
        referenceDictionaryName:
          type: string
      required:
      - datatype
      - enumValues
      - fingerprintAttributes
      - name
      - vectorAttributes
    IndexDef:
      type: object
      properties:
        name:
          type: string
          minLength: 1
        attributes:
          type: array
          items:
            type: string
            minLength: 1
          minItems: 1
        type:
          type: string
          enum:
          - PRIMARY
          - UNIQUE
          - NORMAL
          - KEYWORD
          - FULL
          - VECTOR
        numDimensions:
          type: integer
          format: int32
          maximum: 8192
          minimum: 1
        partialFilterTql:
          type: string
      required:
      - attributes
      - name
      - numDimensions
      - type
    DictionaryMapping:
      type: object
      properties:
        dictionary:
          $ref: '#/components/schemas/Dictionary'
        mapping:
          type: object
      required:
      - dictionary
    Dictionary:
      type: object
      properties:
        name:
          type: string
          minLength: 1
        description:
          type: string
        displayName:
          type: string
        groupName:
          type: string
        layoutMetadata:
          type: object
        undefinedAttributesAction:
          type: string
          enum:
          - KEEP
          - REMOVE
          - ERROR
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/AttributeDef'
        indexes:
          type: array
          items:
            $ref: '#/components/schemas/IndexDef'
          maxItems: 50
          minItems: 0
        properties:
          type: object
      required:
      - attributes
      - name
      - undefinedAttributesAction
