openapi: 3.2.0
info:
  title: LifeGraph Glossary Metadata APIs API
  description: LifeGraph API descriptions
  license:
    name: BurstIQ, Inc.
    url: https://www.burstiq.com
  version: 2.42.0
servers:
- url: https://api.burstiq.com
  description: Generated server url
tags:
- name: Glossary Metadata APIs
  description: Glossary items hold no actual function in the secure data zone, merely a method for defining the business terms, usage, interactions, etc of the data within the SDZ
paths:
  /api/metadata/glossary:
    get:
      tags:
      - Glossary Metadata APIs
      description: 'Allowed user roles:


        sdzAdmin


        sdzReadOnly


        sdzUser


        query glossaries from the secure data zone'
      operationId: getQueryGlossaries
      parameters:
      - name: term
        in: query
        required: false
        schema:
          type: string
      - name: type
        in: query
        required: false
        schema:
          type: string
      - name: description
        in: query
        required: false
        schema:
          type: string
      - name: abbreviations
        in: query
        required: false
        schema:
          type: string
      - name: aliases
        in: query
        required: false
        schema:
          type: string
      - name: orderBy
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Glossary'
      summary: Get query glossaries
      x-summary-source: derived
    put:
      tags:
      - Glossary Metadata APIs
      description: 'Allowed user roles:


        sdzAdmin


        DEPRECATED: Use /{id} endpoint instead. | Put (update or create) the Glossary in the secure data zone.


        Deprecated since 02 OCT 2024'
      operationId: putGlossary
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Glossary'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Glossary'
      deprecated: true
      summary: Put glossary
      x-summary-source: derived
    post:
      tags:
      - Glossary Metadata APIs
      description: 'Allowed user roles:


        sdzAdmin


        create a glossary term into the secure data zone'
      operationId: postGlossary
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Glossary'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Glossary'
      summary: Post glossary
      x-summary-source: derived
  /api/metadata/glossary/{id}:
    get:
      tags:
      - Glossary Metadata APIs
      description: 'Allowed user roles:


        sdzAdmin


        sdzReadOnly


        sdzUser


        gets a glossary by ID from the secure data zone; can be more than 1'
      operationId: getGlossary
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Glossary'
      summary: Get glossary
      x-summary-source: derived
    put:
      tags:
      - Glossary Metadata APIs
      description: 'Allowed user roles:


        sdzAdmin


        put (update) the Glossary in the secure data zone'
      operationId: putGlossary_1
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Glossary'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Glossary'
      summary: Put glossary 1
      x-summary-source: derived
    delete:
      tags:
      - Glossary Metadata APIs
      description: 'Allowed user roles:


        sdzAdmin


        deletes a glossary by id from the secure data zone'
      operationId: deleteGlossary
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
      summary: Delete glossary
      x-summary-source: derived
  /api/metadata/glossary/import:
    post:
      tags:
      - Glossary Metadata APIs
      description: 'Allowed user roles:


        sdzAdmin


        loads a file of glossary items; field names in file must match Glossary structure; any field not standard will be added to the properties sub-document; each record is an no upsert (id field will be the key)'
      operationId: postGlossaryFile
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required:
              - file
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      summary: Post glossary file
      x-summary-source: derived
  /api/metadata/glossary/{id}/history:
    get:
      tags:
      - Glossary Metadata APIs
      description: 'Allowed user roles:


        sdzAdmin


        sdzReadOnly


        sdzUser


        gets the history of a glossary'
      operationId: getHistory_4
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Glossary'
      summary: Get history 4
      x-summary-source: derived
  /api/metadata/glossary/search:
    get:
      tags:
      - Glossary Metadata APIs
      description: 'Allowed user roles:


        sdzAdmin


        sdzReadOnly


        sdzUser


        search for terms'
      operationId: getSearch_4
      parameters:
      - name: terms
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Glossary'
                uniqueItems: true
      summary: Get search 4
      x-summary-source: derived
  /api/metadata/glossary/export:
    get:
      tags:
      - Glossary Metadata APIs
      description: 'Allowed user roles:


        sdzAdmin


        sdzReadOnly


        sdzUser


        Export glossaries as JSON'
      operationId: exportGlossary
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                format: binary
      summary: Export glossary
      x-summary-source: derived
components:
  schemas:
    Glossary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        term:
          type: string
          minLength: 1
        type:
          type: string
        description:
          type: string
        abbreviations:
          type: array
          items:
            type: string
            minLength: 1
          uniqueItems: true
        aliases:
          type: array
          items:
            type: string
            minLength: 1
          uniqueItems: true
        groupName:
          type: string
        properties:
          type: object
      required:
      - id
      - term
