openapi: 3.2.0
info:
  title: LifeGraph Data Pipeline APIs API
  description: LifeGraph API descriptions
  license:
    name: BurstIQ, Inc.
    url: https://www.burstiq.com
  version: 2.42.0
servers:
- url: https://api.burstiq.com
  description: Generated server url
tags:
- name: Data Pipeline APIs
  description: Data Pipelines are managed for use of manipulating data
paths:
  /api/metadata/datapipeline/{id}:
    get:
      tags:
      - Data Pipeline APIs
      description: 'Allowed user roles:


        sdzAdmin


        sdzReadOnly


        sdzUser


        get data pipeline in the secure data zone'
      operationId: getIPById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataPipeline'
      summary: Get IPBy id
      x-summary-source: derived
    put:
      tags:
      - Data Pipeline APIs
      description: 'Allowed user roles:


        sdzAdmin


        Update a data pipeline in the secure data zone (see POST for description of body)'
      operationId: putPipeline
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPipeline'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataPipeline'
      summary: Put pipeline
      x-summary-source: derived
    delete:
      tags:
      - Data Pipeline APIs
      description: 'Allowed user roles:


        sdzAdmin


        get data pipeline in the secure data zone'
      operationId: deleteById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
      summary: Delete by id
      x-summary-source: derived
  /api/metadata/datapipeline:
    get:
      tags:
      - Data Pipeline APIs
      description: 'Allowed user roles:


        sdzAdmin


        sdzReadOnly


        sdzUser


        query data pipelines from the secure data zone'
      operationId: getPipelines
      parameters:
      - name: name
        in: query
        required: false
        schema:
          type: string
      - name: description
        in: query
        required: false
        schema:
          type: string
      - name: stepIdsContains
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: orderBy
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataPipeline'
      summary: Get pipelines
      x-summary-source: derived
    post:
      tags:
      - Data Pipeline APIs
      description: 'Allowed user roles:


        sdzAdmin


        Create a data pipeline in the secure data zone.


        For all the details, see the Dev Docs!


        An data pipeline is a series of steps (at least 1) that GraphChain will process inbound

        data through. These steps are of 3 types: Field Mapping, JavaScript Transform, and

        Rules. The input to the first step is the full record of the inbound data. The output

        of that step is then the input into the next step and so forth.


        The structure of an data pipeline is name, stepIds (optional), and description

        (optional). This is the basic structure:


        {

        "name": "testPipeline",

        "description": "a test pipeline",

        "stepIds": [ ... ]

        }


        The stepIds are an array of stepIds these stepIds refer to objects of these three types.


        * FieldMappingStep


        * JSTransformStep


        * RuleSetStep


        This typically is the order of simplest to most complex of steps. Each subsequent step

        in the list is capable of performing the functions of the previous steps. It is up to

        the admin (or developer) to decide the best tool for the job.


        FieldMappingStep


        This step will rename inbound field names into the field (attribute) names expected by

        the dictionary. Can rename nested attributes too, using a dot path notation. Not all

        fields must be in the map; if the inbound field name is already correct it can be omitted

        from the map. If a field is in the map but the value is NULL then it will be removed from

        the inbound data.


        The step has a required map field and type field (FIELD_MAPPING). The name and description

        fields are optional, the exist to help the user with documentation.


        JSTransformStep


        This step will take the entire inbound data record as the only argument to a function.

        That function needs to return a JS dictionary (object) as the return value. The

        type (JS_TRANSFORM) and jsBase64 fields are required. The JavaScript can contain more

        than 1 function if that helps the developer, but there must be one function that is the

        entry point of the transform. If the developer names that function "xform" then the

        funcName field is not required (since it defaults to xform). In this case the JS has a

        function called "convert" that should be called. The name and description fields are

        optional for this step just like Field Mapping (omitted here for example).


        RuleSetStep


        The final step available is RuleSet, a Ruleset contains an array of ruleIds, each ruleId

        refers to a Drools Rule that is to be executed. This rule set can be used

        for numerous use-cases: field mapping, transforming data, applying data quality rules,

        rejecting or tagging data as issues. T'
      operationId: postPipeline
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPipeline'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataPipeline'
      summary: Post pipeline
      x-summary-source: derived
  /api/metadata/datapipeline/{id}/trial-run:
    post:
      tags:
      - Data Pipeline APIs
      description: 'Allowed user roles:


        sdzAdmin


        sdzReadOnly


        sdzUser


        using datapipeline id, looks up the steps and executes a each step in sequence against a single data record and returns what the result would be'
      operationId: postDataPipelineTrialRun
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataPipelineInput'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DataPipelineInput'
      summary: Post data pipeline trial run
      x-summary-source: derived
  /api/metadata/datapipeline/{id}/history:
    get:
      tags:
      - Data Pipeline APIs
      description: 'Allowed user roles:


        sdzAdmin


        sdzReadOnly


        sdzUser


        gets the history of a dataPipeline'
      operationId: getHistory_7
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataPipeline'
      summary: Get history 7
      x-summary-source: derived
  /api/metadata/datapipeline/summary:
    get:
      tags:
      - Data Pipeline APIs
      description: 'Allowed user roles:


        sdzAdmin


        sdzReadOnly


        sdzUser


        get step summary info for all steps in the secure data zone'
      operationId: getStepSummaries
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  type: object
      summary: Get step summaries
      x-summary-source: derived
  /api/metadata/datapipeline/search:
    get:
      tags:
      - Data Pipeline APIs
      description: 'Allowed user roles:


        sdzAdmin


        sdzReadOnly


        sdzUser


        search for terms'
      operationId: getSearch_7
      parameters:
      - name: terms
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataPipeline'
                uniqueItems: true
      summary: Get search 7
      x-summary-source: derived
components:
  schemas:
    DataPipeline:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
        description:
          type: string
        stepIds:
          type: array
          items:
            type: string
            format: uuid
      required:
      - id
      - name
    DataPipelineInput:
      type: object
      properties:
        data:
          type: object
        metadata:
          type: object
      required:
      - data
